.home-page-section-container {
  background-color: #ebece6;
}

.home-page-section-content {
  padding: 0 4rem;
}

.home-page-section-left-content {
  padding: 2rem 0;
  position: relative;
}

.home-page-section-left-content img {
  height: 600px;
}

.home-page-section-right-content img {
  width: 100%;
  height: 100vh;
}

.home-page-section-left-content-counter {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 44%;
  right: -89.5%;
}

.custom-line {
  border: 1px solid #ff3644;
  width: 20%;
}

.home-page-counter-box {
  background-color: #ff3644;
  padding: 5px 10px;
  color: #fff;
}

.home-page-counter-box p {
  margin: 0;
}

.home-page-section-left-absolute-content {
  position: absolute;
  top: 50%;
  max-width: 400px;
  right: 50px;
}

.home-page-section-left-absolute-content-button {
  text-align: right;
}

.home-page-section-left-absolute-content-button button {
  background-color: #ff3644;
  border: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  padding: 5px 15px;
}

.home-page-section-left-absolute-content h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
