.resources-details-page-section-container {
  background-color: #ebece6;
  padding: 7rem 0;
  height: 100vh;
}

.resources-details-page-section-content {
  max-width: 1200px;
  margin: 0 auto !important;
}

.resources-details-page-section-left-content small {
  font-style: italic;
}

.resources-details-page-section-left-content h1 {
  font-size: 70px;
  color: #ff3644;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.resources-details-page-section-left-content p {
  font-size: 20px;
  font-weight: bold;
  color: gray;
  font-family: "Playfair Display", serif;
}

.resources-details-page-section-left-inner-content {
  font-size: 16px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue" !important;
  color: #000 !important;
  font-weight: normal !important;
}

@media (max-width: 768px) {
  .resources-details-page-section-container {
    padding: 7rem 0;
    height: 100%;
  }
  .resources-details-page-section-left-inner-content {
    text-align: justify;
  }

  .resources-details-page-section-left-content h1 {
    font-size: 40px;
  }
}
